<!--<beans:beans xmlns="http://www.springframework.org/schema/security"-->
<!--             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--             xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--       http://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--       http://www.springframework.org/schema/security-->
<!--       http://www.springframework.org/schema/security/spring-security.xsd">-->

<!--    &lt;!&ndash; Configure authentication manager &ndash;&gt;-->
<!--    <authentication-manager>-->
<!--        <authentication-provider>-->
<!--            <user-service>-->
<!--                &lt;!&ndash; Define users and their roles &ndash;&gt;-->
<!--                <user name="user" password="password" authorities="ROLE_USER" />-->
<!--                <user name="admin" password="password" authorities="ROLE_ADMIN" />-->
<!--            </user-service>-->
<!--        </authentication-provider>-->
<!--    </authentication-manager>-->

<!--    &lt;!&ndash; Configure URL-based security &ndash;&gt;-->
<!--    <http auto-config="true">-->
<!--        &lt;!&ndash; Define URL patterns and required roles &ndash;&gt;-->
<!--        <intercept-url pattern="/home" access="ROLE_USER,ROLE_ADMIN" />-->
<!--        <intercept-url pattern="/admin" access="ROLE_ADMIN" />-->
<!--        <intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY" />-->
<!--        <form-login login-page="/login" default-target-url="/home" authentication-failure-url="/login?error" />-->
<!--        <logout logout-success-url="/login?logout" />-->
<!--    </http>-->

<!--</beans:beans>-->
