
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Books</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<!-- my navbar code -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Insight</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="all-books">All Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="cart">My Bag</a>
                </li>

                <!--        <li class="nav-item">-->
                <!--          <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>-->
                <!--        </li>-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Logout</a>
                </li>
                <!--        <li class="nav-item" th:if="${!loggedIn}">-->
                <!--          <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>-->
                <!--        </li>-->
                <!--        <li class="nav-item" th:if="${!loggedIn}">-->
                <!--          <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>-->
                <!--        </li>-->
                <!--        <li class="nav-item" th:if="${loggedIn}">-->
                <!--          <a class="nav-link text-white" href="#">Logout</a>-->
                <!--        </li>-->


            </ul>
            <div>
                <a class="nav-link text-white" href="cart">My Cart
                    <img src="">
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <h1>All Books</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th></th><!-- Empty column for add to cart button -->
        </tr>
        </thead>
        <tbody>
        <!-- Thymeleaf loop to display all books from the database -->
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td>
<!--                <a th:href="@{/cart/add/{id}(id=${book.id})}" class="btn btn-primary">Add to Cart</a>-->
<!--                <button type="button" class="btn btn-primary add-to-cart-btn" data-bookId="${book.id}">Add to Cart</button>-->
                <button type="button" class="btn btn-primary add-to-cart-btn" th:attr="data-bookId=${book.id}">Add to Cart</button>

            </td><!-- Adjust the link for add to cart operation -->
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
    $('.add-to-cart-btn').click(function(e) {
        e.preventDefault();
        var bookId = $(this).data('bookId');
        $.ajax({
    type: 'POST',
    url: '/' + [[${userId}]] + '/add/' + bookId,
    success: function() {
        alert('Book added to cart successfully!');
    },
    error: function() {
        alert('Failed to add book to cart.');
    }
});

    });
});

</script>

</body>
</html>
